body{
	--heightSyllable: 100px;
	--color1:  #ff0045;
	--color2:  #F05353;
	--color3:  #E28966;
	--color4:  #D7AA7C;
	--color5:  #D7E7CE;
	--color6:  #F7EBC8;
}
.syllable, .ultraLine{
	height: var(--heightSyllable);
	width: auto;
	background-color: var(--color6);
	display: inline-block;
	position: absolute;
	border-width: 1px 0px 1px 0px;
	border-style: solid;
	border-color: black;
}

.ultraLine{
	background-color: var(--color5);
}

.wrapper {margin: auto;position: relative;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;margin-bottom: 20px !important;padding-top: 2px;}
.scrolls {margin-bottom: 95px;overflow-x: hidden;overflow-y: hidden;white-space:nowrap;} 
.scaleIndex{
	height: 4px;
	width: 8px;
	border-width: 1px 1px 0px 1px;
	border-style: solid;
	border-color: black;
	display: inline-block;
	margin-bottom: 10px;
	left: 0px;
	font-size: 4px;
	text-align: right;
}

.dragText{
	width: 100%;
	height: 40%;
	border-width: 1px 0px 1px 0px;
	border-style: solid;
	border-color: black;
}

.dragOneSyl{
	width: 100%;
	height: 30%;
	background-color: var(--color2);
	border-width: 1px 0px 1px 0px;
	border-style: solid;
	border-color: black;
}

.dragAllSyl{
	width: 100%;
	height: 30%;
	background-color: var(--color4);
	border-width: 1px 0px 1px 0px;
	border-style: solid;
	border-color: black;
}

.dragOneLine{
	width: 50%;
	height: 30%;
	position: absolute;
	bottom: 0%;
	left: 0%;
	background-color: var(--color2);
	border-width: 1px 0px 1px 0px;
	border-style: solid;
	border-color: black;
}
.dragAllLine{
	width: 50%;
	height: 30%;
	position: absolute;
	bottom: 0%;
	left: 50%;
	background-color: var(--color4);
	border-width: 1px 0px 1px 0px;
	border-style: solid;
	border-color: black;
}
.lrcLine{
	background-color: black;
	height: 110px;
	width: auto;
	display: inline-block;
	position: absolute;
}

.lrcSyl{
	height: 310px;
	width: 0px;
	background-color: transparent;
	border-left:  1px dotted black;
	display: inline-block;
	position: absolute;
}

.noteUltra{
	display: none;
}

.gridSlider.scrolls{
	margin-bottom: 10px;
}

.gridElement{
	height: 330px;
	width: 9px;
	background-color: #fffff1;
	border-left:  1px dotted #ffb3c4;
	display: inline-block;
	position: absolute;
}