body{
			--heightSyllable: 100px;
		}
		.syllable, .ultraLine{
			height: var(--heightSyllable);
			width: auto;
			background-color: yellow;
			display: inline-block;
			position: absolute;
		}
		.wrapper {margin: auto;position: relative;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;margin-bottom: 20px !important;padding-top: 2px;}
		.scrolls {margin-bottom: 500px;overflow-x: hidden;overflow-y: hidden;white-space:nowrap;} 
		.scaleIndex{
			height: 4px;
			width: 8px;
			border-width: 1px 1px 0px 1px;
			border-style: solid;
			border-color: black;
			display: inline-block;
			margin-bottom: 10px;
			left: 0px;
			font-size: 4px;
			text-align: right;
		}
		.dragText{
			width: 100%;
			height: 40%;
		}
		.dragOneSyl{
			width: 100%;
			height: 30%;
			background-color: green;
		}
		.dragAllSyl{
			width: 100%;
			height: 30%;
			background-color: blue;
		}

		.dragOneLine{
			width: 50%;
			height: 30%;
			position: absolute;
			bottom: 0%;
			left: 0%;
			background-color: green;
		}
		.dragAllLine{
			width: 50%;
			height: 30%;
			position: absolute;
			bottom: 0%;
			left: 50%;
			background-color: blue;
		}